<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Numero de serie</th>
            <th scope="col">Idempleado</th>
            <th scope="col">Lugar</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
            {% for mobiliario in lista %}
                <tr>
                    <th scope="row">{{mobiliario.numserie}}</th>
                    <td>{{mobiliario.idempleado}}</td>
                    <td>{{mobiliario.lugar}}</td>
                    <td>{{mobiliario.descripcion}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

</body>
</html>